@font-face {
  font-family: 'SpaceGroteskRegular';
  src: local("SpaceGroteskRegular"),
  url("../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'AlataRegular';
  src: local("AlataRegular"),
  url("../fonts/Alata/Alata-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: SpaceGroteskRegular, sans-serif;
}

input {
  font-family: SpaceGroteskRegular, sans-serif;
}